<%= form_with(model: sexual_orientation) do |form| %>
  <% if sexual_orientation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sexual_orientation.errors.count, "error") %> prohibited this sexual_orientation from being saved:</h2>

      <ul>
        <% sexual_orientation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
