<div id="<%= dom_id faithful %>">
  <p>
    <strong>First name:</strong>
    <%= faithful.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= faithful.last_name %>
  </p>

  <p>
    <strong>Function:</strong>
    <%= faithful.function %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= faithful.phone_number %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= faithful.date_of_birth %>
  </p>

  <p>
    <strong>Wedding date:</strong>
    <%= faithful.wedding_date %>
  </p>

  <p>
    <strong>Children:</strong>
    <%= faithful.children %>
  </p>

  <p>
    <strong>House number:</strong>
    <%= faithful.house_number %>
  </p>

  <p>
    <strong>Complement:</strong>
    <%= faithful.complement %>
  </p>

  <p>
    <strong>State:</strong>
    <%= faithful.state_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= faithful.city_id %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= faithful.neighborhood_id %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= faithful.street_id %>
  </p>

  <p>
    <strong>Sexual orientation:</strong>
    <%= faithful.sexual_orientation_id %>
  </p>

  <p>
    <strong>Community:</strong>
    <%= faithful.community_id %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= faithful.relationship_id %>
  </p>

</div>
