<p style="color: green"><%= notice %></p>

<%= render @faithful %>

<div>
  <%= link_to "Edit this faithful", edit_faithful_path(@faithful) %> |
  <%= link_to "Back to faithfuls", faithfuls_path %>

  <%= button_to "Destroy this faithful", @faithful, method: :delete %>
</div>
