<div id="<%= dom_id street %>">
  <p>
    <strong>Name:</strong>
    <%= street.name %>
  </p>

  <p>
    <strong>State:</strong>
    <%= street.state_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= street.city_id %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= street.neighborhood_id %>
  </p>

</div>
