<div id="<%= dom_id community %>">
  <p>
    <strong>Name:</strong>
    <%= community.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= community.phone_number %>
  </p>

  <p>
    <strong>Church number:</strong>
    <%= community.church_number %>
  </p>

  <p>
    <strong>State:</strong>
    <%= community.state_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= community.city_id %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= community.neighborhood_id %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= community.street_id %>
  </p>

</div>
